h1 {
  color: wheat;
}
.container {
  background-color: lightseagreen;
}

.card {
  background-color: slategray;
}

.jumbotron {
  background-color: slategray;
  text-align: center;
}

h3 {
  text-align: center;
  color: wheat;
}