h1 {
  color: wheat;
}

.container {
  background-color: slategray;
}

.card {
  background-color: slategray;
  font-style: italic;
}

.jumbotron {
  background-color: slategray;
  text-align: center;
}

h3 {
  text-align: center;
  color: wheat;
}
